<link rel="stylesheet" href="C:/Users/Asus/Documents/GitHub/Pinterest-clone/src/components/board-selection/board-selection.css">
<script type="module" src="C:/Users/Asus/Documents/GitHub/Pinterest-clone/src/components/board-selection/board-selection.js"></script>
<div class="board-selection-button">
  <button onclick="myFunction()" class="dropbtn">Выбрать доску</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Доска 1</a>
    <a href="#">Доска 2</a>
    <a href="#">Доска 3</a>
  </div>
</div>