
<link rel="stylesheet" href="components/profile-board/profile-board.css">
<script type="module" src="components/profile-board/profile-board.js"></script>



<div id="modal-window-profile" class="modal-window-profile">

    <div class="board-rename">
        <div class="board-rename__wrapper">
            <div class="board-rename__title">Редактирование</div>
            <div class="board-rename__input-wrapper">
                <div class="board-rename__text">Название</div>
                <input type="text" class="board-rename__input">
            </div>
            <div class="board-rename__button">
                <button class="board-rename__close">Отмена</button>
                <button class="board-rename__ok">ОК</button>
            </div>
        </div>
    </div>

    <div class="popup-profile">
        <div class="popup-profile__wrapper">
            <!-- <div class="popup-profile__title">
                Жалоба на пин
            </div> -->


        </div>
        <div class="popup-profile__button">
            <button class="popup-profile__close" id="popup-profile__close">Отмена</button>
            <button class="popup-profile__rename" id="popup-profile__rename">Редактировать</button>
        </div>
    </div>




</div>