<link rel="stylesheet" href="components/board-creation/board-creation.css">
<!-- <script type="module" src="components/board-creation/board-creation.js"></script> -->
<script type="module" src="components/board-creation/board-creation.js"></script>


<button id="btn-board-create">123</button>
<div id="modal-window-creat" class="modal-window-creat">

    <div class="board-create">
        <div class="board-create__container">
            <div class="board-create__title">
                Создание доски
            </div>
            <div class="board-create__wrapper">
                <div class="board-create__img-wrapper">
                    <div class="board-create__img"></div>
                </div>
                <div class="board-create__info">
                    <div class="board-create__info-subtitle">
                        Название
                    </div>
                    <div class="board-create__wrapper-input">
                        <input class="board-create__input-name" type="text" id="inputCreateBoard-name"
                               placeholder="Например, куда пойти? или Рецепты ">
                    </div>
                    <div class="board-create__info-coauthor">
                        Добавьте соавторов (необязательно)
                    </div>
                    <div class="board-create__wrapper-input">
                        <input class="board-create__input-coauthor" type="text" id="inputCreateBoard-coauthor"
                               placeholder="Поиск по имени или эл.адресу">
                    </div>
                </div>
            </div>
            <div class="board-create__button">
                <button class="board-create__close" id="board-create__close">Отмена</button>
                <button class="disabled" id="board-create__next">Создать</button>
            </div>

        </div>
    </div>


    <div class="board-completed">
        <div class="board-completed__finish">Сompleted...</div>
    </div>

</div>